.home__container {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.home__card {
  margin: 16px 16px 0 16px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-4px);
  }
}
