.destination-map-container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  & .destination-map {
    flex: 1;
    padding: 10px;
  }

  & .bottom-nav-container {
    justify-content: space-around;
    align-items: center;
  }
}

.leaflet-control-zoom {
  transform: scale(1.5);
  transform-origin: top left;
}
