.contentblock-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  width: 100%;
  min-height: 240px;

  &-image__media {
    width: 100%;
    height: auto;
  }

  &-image__title {
    margin-top: 6px;
    text-align: center;
    width: 100%;
  }
}