.destination {
  display: flex;
  justify-content: center;

  padding-bottom: 56px;

  & img {
    max-width: 100%;
    height: auto;
  }

  & .copyright {
    margin-top: 36px;
    margin-bottom: 24px;
    font-style: italic;
    text-align: center;
  }
}
